@{ ViewBag.Title = "ForgotPassword"; }

<h2>ForgotPassword</h2>

@using (Html.BeginForm("ForgotPassword", "EmployeeLogin", FormMethod.Post))
{
@Html.AntiForgeryToken()
                <div>
                    <label for="email">Enter your Email To Change Your Password:</label><br />
                    <input type="email" name="email" required />
                </div>
                <br />
                                <button type="submit">Submit</button>
}