@{ ViewBag.Title = "ResetPassword"; }

<h2>ResetPassword</h2>

@using (Html.BeginForm("ResetPassword", "EmployeeLogin", FormMethod.Post))
{
@Html.AntiForgeryToken()
                <input type="hidden" name="id" value="@ViewBag.EmployeeId" />
                                <div>
                                    <label for="password">Enter New Password:</label>
                                    <input type="password" name="password" required />
                                </div>
                                                <div>
                                                    <label for="confirmPassword">Confirm Password:</label>
                                                    <input type="password" name="confirmPassword" required />
                                                </div> if (!ViewData.ModelState.IsValid)
                                                {
                                <div style="color: red;">
                                    @Html.ValidationMessage("PasswordMismatch")
                                </div> }
            <button type="submit">Reset Password</button>}