@{ ViewBag.Title = "ForgotPassword"; }

<h2>ForgotPassword</h2>
@using (Html.BeginForm("ForgotPassword", "ManagerLogin", FormMethod.Post))
{
@Html.AntiForgeryToken()
                <div>
                    <label for="email">Enter your Email To Change Your Password:</label>
                    <input type="email" name="email" required />
                </div>
                                <button type="submit">Submit</button>}

